html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: #141414;
}

.container{
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 400px;
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    width: 45.0rem;
    height: 70px;
    background-color: #282D29;
    border: none;
    border-radius: 5px;
    margin: 2px 0px;
    font-size: 1.8rem;
    padding-left: 25px;
}

form button{
    margin-top: 18px;
    height: 70px;
    background-color: #141414;
    border: 2px solid #282D29;
    border-radius: 5px;
    font-size: 1.8rem;
    color: #87827C;
}

form button:hover{
    background-color: #282D29;
    color: white;
}

div#termos{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: white;
    margin-top: 20px;
}

div#termos #p1{
    color: white;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

div#termos #p1:hover{
    text-decoration: underline;
}

div#termos #p2{
    color: #87827C;
    text-decoration: none;
}

div#termos #p2:hover{
    text-decoration: underline;
}

@media (max-width: 570px){
    html{
        font-size: 50%;
    }
    img{
        width: 350px;
    }
}

@media (max-width: 450px){
    html{
        font-size: 40%;
    }
    img{
        width: 300px;
    }
}
